body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f9ff;
  margin: 0;
}
.hero {
  background: linear-gradient(to right, #dbefff, #f0f6fc);
  text-align: center;
  padding: 40px 20px;
}
.hero h1 {
  margin: 0;
  font-size: 36px;
  color: #3367d6;
}
.download-list {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}
.download-list ul {
  list-style: none;
  padding: 0;
}
.download-list li {
  background: #fff;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.download-list a {
  text-decoration: none;
  color: #224b7a;
}
.home-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #3367d6;
  color: #fffff;
  text-decoration: none;
  border-radius: 8px;
}
.home-btn a{
color: white;
}
